[submodule "python/football-predictor"]
	path = python/football-predictor
	url = https://github.com/Gearlux/football-predictor.git
[submodule "scripts/PSTools"]
	path = scripts/PSTools
	url = https://github.com/Gearlux/PSTools.git
